<h2 id="title">Nested Animated List Recipe</h2>
<p>Here, we show off using 2 nested grids to build a animated grid</p>

<p>Navigate around with your arrow keys!</p>

<h3>
  Total Games: {{@model.length}}
</h3>