@import "bd.css";

.how-it-works__twiddle-ctn {
  position: relative;
  height: 0px;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
}

.how-it-works__twiddle-iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.image__square {
  width: 100px;
  height: 100px;
}

.game-card__container {
  width: 18rem;
}

.game-card__img {
  width: 100%;
  height: auto;
}

.animation-cards-viewport__container {
  overflow-x: hidden;
  width: 100%;
}

.animation-cards-viewport__container--anime-left
.animation-cards-viewport__row {
  transform: translateX(18rem);
}

.animation-cards-viewport__container--anime-right
.animation-cards-viewport__row {
  transform: translateX(0);
}

.animation-cards-viewport__row {
  display: flex;
  width: 108rem;
  transition: transform 500ms ease-in-out;
  transform: translateX(-18rem);
}


