{{fork-me "https://github.com/foxnewsnetwork/ember-large-list"}}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a href="https://github.com/foxnewsnetwork/ember-large-list" class="navbar-brand mr-0 mr-md-2">
    EmberLargeList
  </a>
</header>

<div class="container-fluid">
  <div class="row flex-xl-wrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      {{reducer-sidebar}}
    </div>
    <div class="d-none d-xl-block col-xl-2 bd-toc">
      <ul class="section-nav">
        <li class="toc-entry toc-h2">
          <a href="https://mixer.com/">
            Demo data curtesy of Mixer
          </a>
        </li>
      </ul>
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <div class="row">
        <div class="col">
          {{component this.reducerComponentName}}
        </div>
      </div>
    </main>
  </div>
</div>